
.form-container{
    margin-left: 20px;
}
.input {
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    width: 10%;

}

.button {
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
}